<div *ngIf="pelicula" class="container mt-2 text-white">
    <h3>{{pelicula.title}}</h3>
    <hr>
    <div class="row center">
        <div class="col-md-5 animated  slideInUp" align="center">

        </div>

        <div class="card mb-3">
            <img [src]="pelicula | imagen:true" class="card-img-top tamano-Imagen" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pelicula.title}}</h5>
                <p *ngIf="pelicula.overview.length > 0" class="card-text text-dark">{{pelicula.overview}} </p>
                <p *ngIf="pelicula.overview.length == 0" class="card-text text-dark"> <img src="assets/img/mensaje.ico" alt=""> Disculpe... <br><br> Aun no hemos agregado descripcion para este contenido... </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>



        <div class="d-flex">
            <h5 class="mr-2">Popularidad: </h5>
            {{ pelicula?.popularity}}
        </div>
        <div class="d-flex">
            <h5 class="mr-2">Valoración: </h5>
            :{{ pelicula?.vote_average}}/10



        </div>
        <a [routerLink]="['/cartelera']" class="btn btn-primary w-50 bajar ">Regresar.</a>
    </div>