/* You can add global styles to this file, and also import other style files */

body {
    background: fixed;
    margin: 0;
    background-color: rgba(01, 01, 01, 0.8) !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}